body{
  background-image: url(../IMG/fondo.jpg)
}


.talles{
  color: #c7c545;
}

@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

h1{
    text-align: center;
    font-family: 'Bangers', cursive;
}

.pedidosproductos{
  text-align: center;
  background-color: antiquewhite;
}

.modelos h2{
  text-align: center;
  font-family: 'Bangers', cursive;
}
 .modos{
  display: flex;
 }
.modelos{
  padding: 1.5rem;
  margin: 0 auto;
  flex-direction: column ;
  display: flex;
}

.header-productos {
    grid-area: header;
    grid-template-columns: repeat(2, 2fr);
  }
  
  .nustros-productos {
    font-family: 'Bangers', cursive;
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: #484949;
    padding: 2rem;
  }

  .contenedor1{
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: 1fr;
    grid-gap: 1em;
    justify-content: center;
  }
  
  .producto{
    max-width: 280px;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 0.3s;
    padding: 10px;
  }
  .producto:hover{
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
  }
  .producto > img{
    width: 100%;
    object-fit: cover;
    
  }
  
  .informacion{
    border-top: 1px solid rgb(230, 230, 230);
    padding: 1em;
    display: flex;
    flex-flow: column;
  }
  .informacion * + *{
    margin-bottom: 0.5em;
  }
  
  .tipo-envio{
    background-color: rgb(102, 238, 39);
    color:rgb(255, 255, 255);
    font-weight: 600;
    max-width: max-content;
    padding: 0 0.2em;
    border-radius: 3px;
  }
  
  .precio{
    font-size: 1.5em;
  }
  
  .precio-envio{
    color: rgb(0, 166, 80);
  }
  
  .descripcion, .ubicacion{
    font-weight: 300;
  }
  
  .precio-envio, .descripcion, .ubicacion{
    font-size: 0.9em;
  }
  
  .calificacion, .ubicacion{
    transition-duration: 0.3s;
    transition-property: opacity;
    opacity: 0;
  }
  
  .producto:hover .calificacion, .producto:hover .ubicacion{
    opacity: 1;
  }
  
  .calificacion{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }
  
  .calificacion > * {
    margin:0;
  }
  
  .tipo-envio, .calificacion{
    font-size: 0.8em;
  }
  
  .calificacion > span:first-child{
    color: rgb(46, 221, 46);
  }

.donde-encontrarnos{
    display: flex;
}


  .donde-encontrarnos iframe {
    padding: 1.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction:column ;
    
  }

  .donde-encontrarnos h2{
    font-size: 1.5rem;
    padding: 1.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }

  .mensaje{
    background-image: linear-gradient(to left, rgb(81, 233, 35), rgb(86, 179, 0), rgb(68, 216, 0));
    
    
  }

  .mensaje1{
    background-image: linear-gradient(to left, rgb(255, 7, 243), rgb(243, 247, 21) rgb(255, 0, 157));
    
    
  }

  .botonp{
    color: black;
    font-family: 'Bangers', cursive;
  }

      .botonwsp{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background: #1a032100;
        font-family:consolas;
    }
    .btn-neon{
        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: rgb(0, 0, 0);
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 24px;
        overflow: hidden;
        transition: 0.2s;
    }
    .btn-neon:hover{
        background: #6ec745;
        box-shadow: 0 0 10px #00ff15, 0 0 40px #00ff15, 0 0 80px #00ff15;
        transition-delay: 1s;
    }
    .btn-neon span{
        position: absolute;
        display: block;
    }
    #span1{
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent,#00ff15);
    }
    .btn-neon:hover #span1{
        left: 100%;
        transition: 1s;
    }
    #span3{
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent,#00ff15);
    }
    .btn-neon:hover #span3{
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }
    #span2{
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent,#00ff15);
    }
    .btn-neon:hover #span2{
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }
    #span4{
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent,#00ff15);
    }
    .btn-neon:hover #span4{
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }


    .botoninsta{
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      background: #1a032100;
      font-family:consolas;
  }
  .btn-neoninsta{
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      color: rgb(0, 0, 0);
      letter-spacing: 4px;
      text-decoration: none;
      font-size: 24px;
      overflow: hidden;
      transition: 0.2s;
  }
  .btn-neoninsta:hover{
      background: #b655a6;
      box-shadow: 0 0 10px #ff00c8, 0 0 40px #ff00c8 , 0 0 80px #ff00c8;
      transition-delay: 1s;
  }
  .btn-neoninsta span{
      position: absolute;
      display: block;
  }
  #span1insta{
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent,#ff00c8);
  }
  .btn-neoninsta:hover #span1insta{
      left: 100%;
      transition: 1s;
  }
  #span3insta{
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent,#ff00c8);
  }
  .btn-neoninsta:hover #span3insta{
      right: 100%;
      transition: 1s;
      transition-delay: 0.5s;
  }
  #span2insta{
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg,transparent,#ff00c8);
  }
  .btn-neoninsta:hover #span2insta{
      top: 100%;
      transition: 1s;
      transition-delay: 0.25s;
  }
  #span4insta{
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg,transparent,#ff00c8);
  }
  .btn-neoninsta:hover #span4insta{
      bottom: 100%;
      transition: 1s;
      transition-delay: 0.75s;
  }

  .boton1{
    justify-content: center;
    align-items: center;
    display: grid;
  }

  .nosotros{
   display: flex;
   

  }

.nosotros img{
  height: 35rem;
  width: 35rem;
  
}

.nosotros p{
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: initial;
  justify-content: center;
  padding: 5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}

@media (max-width: 390px){
  .donde-encontrarnos{
    display: grid;
    
}


  .donde-encontrarnos iframe {
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
  }

  .donde-encontrarnos h2{
    font-size: 1.5rem;
    padding: 1.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex-direction: column;
  }

  .nosotros{
    display: grid;
    
 
   }
 
 .nosotros img{
   height: 15rem;
   width: 15rem;
   grid-area: span;
   
 }
 
 .nosotros p{
   font-size: 1.5rem;
   margin: 0 auto;
   text-align: initial;
   justify-content: center;
   padding: 5rem;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
 }

  
}

@media (max-width: 450px){

  .donde-encontrarnos{
    display: grid;
    
}


  .donde-encontrarnos iframe {
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
  }

  .donde-encontrarnos h2{
    font-size: 1.5rem;
    padding: 1.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex-direction: column;
  }

  .nosotros{
    display: grid;
    
 
   }
 
 .nosotros img{
   height: 15rem;
   width: 15rem;
   grid-area: span;
   
 }
 
 .nosotros p{
   font-size: 1.5rem;
   margin: 0 auto;
   text-align: initial;
   justify-content: center;
   padding: 5rem;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
 }
}

@media (max-width: 580px){

  .donde-encontrarnos{
    display: grid;
    width: auto;
    height: auto;
    margin: 0;
  
 }


  .donde-encontrarnos iframe {
    padding: 0.5rem;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1,0fr);
    
  }

  .donde-encontrarnos h2{
    font-size: 1rem;
    padding: 1rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex-direction: column;
  }


  .contacto h1{
    margin: auto;
    justify-content: left;
    
  }

  .botonwsp{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items:flex-start;
    height: 100px;
    background: #1a032100;
    font-family:consolas;
}

  .botoninsta{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    background: #1a032100;
    font-family:consolas;
}

  .nosotros{
    display: grid;
    
 
   }
 
 .nosotros img{
   height: 15rem;
   width: 15rem;
   grid-area: span;
   
 }
 
 .nosotros p{
   font-size: 1.5rem;
   margin: 0 auto;
   text-align: initial;
   justify-content: center;
   padding: 5rem;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
 }
}


footer{
 
  margin: 0;
  display: grid;
 justify-content: center;
}




  